@font-face {
  font-family: "iconfont"; /* Project id 3173617 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABjgAAAI4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACCcAo0UAE2AiQDCAsGAAQgBYRnBzAbjAXILjEVGVmvJHC149rGxpyX0BfAD8KLCL7Gfvvu7uOe3Bo0hiiayHhoXklQGtNJZEplqFrCv2+/hVjiddKEhEWXpH1l9ovPHyzTEqXRCJF29Uq5gw04TQPgwHTTG5ARAGViEdXkcMp5IXwZdSl/A3rgBbEvLaVRr9Q6HlDiAckDphfLUwgzEYhxFNRrfQ1ARrwi0GDRQG5zsTtmqteCw0xNgT0eZNVx7VgiU9FxRaGlOqEGPVjEiwrpKQ3P0efj33JAUsnsut3Tuc68/3CWZFXkT4/z9dHnEirImJVRiMPu/La8aOLzGvwFw7S7CL5Vq4FP7Not1F9nVzaBIVoIvnkrBUhwW1M1oXWUZaLpptSQm1JDbWNqzqtlPdYaj7IR/VneyodA8Pr/tq5fYwFf+RZ1FDlQt64/+BHGCUgsRoJUmgQ9mjTtW21wUlTZ4Q4/Yx2dJyyHOp0jgrUGM2R1hqnCTaOi0TJq1NlAgxnz4406xfKi1GPckyC0eSFp8Y6szYcq3BcVPX5Ro80/GhxH82WNxqMpoWDUIB/gqCg0rp0js3u0Lr6guswZKXVoClrzi+XSEkOkKbakV6vNbMBQFMBCPoe+H0FMkYuK6zZz3GksnDa9pa6iIDNFkMCQBqQH4FAiIROQufh9e8hy4RMIpM55knKoedBS1wSopR5CQ3diJXVlaWPMAAaJBMBCz0M+XwTEzfNcSGF19ohsrKPhkAyq19e3BZ92AhrYzhTOrKzmHIVGymQAAAA=")
      format("woff2"),
    url("//at.alicdn.com/t/font_3173617_tpdszc1gjk.woff?t=1644388659764")
      format("woff"),
    url("//at.alicdn.com/t/font_3173617_tpdszc1gjk.ttf?t=1644388659764")
      format("truetype"),
    url("//at.alicdn.com/t/font_3173617_tpdszc1gjk.svg?t=1644388659764#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  color: inherit;
}

.icon-header:before {
  content: "\e7c3";
}
